<div class="form_container">
<%= form_with model: @comment, url: user_post_comments_path, method: :post, local: true do |f|%>
  <%= f.text_area :text %>
  <br>
  <%= f.submit "Comment" %>
<% end %>
</div> 