<section>
    <div class="img">
        <%= image_tag user.Photo %>
    </div>
    <div class="user-post">
     <h2><%= user.Name %></h2>
     <p>Number of posts<%= user.PostsCounter %></p>
    </div>
</section>