<main>

<% @users.each |user| do %>
  <section>
    <div>
        <%= user.photo %>
    </div>
    <div>
    <h1><%= user.name %></h1>
    <p>Number of posts: <%= user.post_counter%> <p>
    </div>
  </section>
  <% end %>

</main>