
.form {
  width: 40%;
  margin: 100px auto;
}

.field {
  margin: 15px auto;
}

.input {
  padding: 12px 5px;
  border: 1px solid black;
  width: 98%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.actions {
  margin-top: 50px;
}

.btn {
  padding: 10px 5px;
  width: 100%;
}

h2 {
  text-align: center;
}
